/* @TODO: Should refactor this into styled components, but I'm to lazy to figure out how to. */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#app {
    /* margin: 0 1.5rem; */
    display: flex;
}

.link-icons {
    height: 32px;
    width: 32px;
    margin-bottom: -0.2rem;
}

.mr-2 {
    margin-right: 2rem;
}
